
<form #form="ngForm">
<div>
    <h2>{{buttonText}}</h2>
</div>
<div>
    <label class="label">Name *</label>
    <input type="text" id="name" required #name="ngModel"  name="name" [(ngModel)]="userData.name"/>
    <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
    </div>
    <label class="label"> Username *</label>
    <input type="text" required id="username" name="username" #username="ngModel"  [(ngModel)]="userData.username">
    <div [hidden]="username.valid || username.pristine"
           class="alert alert-danger">
           username is required
    </div>
    <label class="label"> Email *</label>
    <input type="text" email required  name="email" id="email" #email="ngModel" [(ngModel)]="userData.email"> 
    <div [hidden]="email.valid || email.pristine"
        class="alert alert-danger">
        email is required
    </div>
    <label class="label"> Website *</label>
    <input type="text" required  name="website" id="website" #website="ngModel"  [(ngModel)]="userData.website">
    <div [hidden]="website.valid || website.pristine"
    class="alert alert-danger">
    website is required
    </div>
    <button type="submit" (click)="editOrAdd()" class="button" >{{buttonText}}</button>
    <button type="submit" (click)="onNoClick()" class="button" >Close</button>
</div>
</form>
